


:root {
    --bg1: #0070f0;
    --bg2: rgb(238, 255, 254);
    --bg3: #1d313d;
    --bg4: #185255;
    --bg5: #1cb5bd;
    --bg6: #dbf4ff;
    --bg7: #1cb5bdc4;
    // background: linear-gradient(-45deg, #1cb5bdc4 50%, transparent 50%);
  }

#offer.offer {
  display: grid;
  grid-template-columns: repeat(4, 24%);
  justify-content: space-between;
  gap: 10px;
  text-align: center;
  padding: 10px 20px;

  .card_offer {
    padding: 10px 15px;
    // margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    overflow: hidden;
    // box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;

    background: var(--bg2);
    border-radius: 16px;
    box-shadow: 0 4prgba(60, 168, 172, 0.5);
    backdrop-filter: blur(5px);
  border: 1px solid rgb(124, 236, 251);


    h3 {
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .brand_image {
      display: flex;
      justify-content: center;
      img {
        height: 200px;
        object-fit: cover;
        align-self: center;
        overflow: hidden;
      }
    }
    .title {
      overflow: hidden;
      p {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        font-weight: 600;
        font-size: 14px;
        margin: 5px 0;
      }
      span {
        font-weight: bold;
        color: black;
        font-size: 16px;
      }
      button {
        padding: 10px 20px;
        border: none;
        color: white;
        border-radius: 10px;
        cursor: pointer;
        width: 100%;
        // background: var(--bg3);
      }
    }
  }
  .card_offer:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    cursor: pointer;
  }
}

@media screen and (max-width: 900px) {
  #offer.offer {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 600px) {
  #offer.offer {
    grid-template-columns: 100%;
  }
}

